html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
}

#app {
  height: 100%;
}

ul {
  list-style: none outside;
  padding: 0;
  margin: 0;
}

li {
  margin-top: 10px;
}

label {
  display: inline-block;
  width: 100px
}

label:after {
  content: ': '
}
